@charset "utf-8";
/* CSS Document */
.main{
	width: 100%;
	height: 3,807.56px;

}
.leftbtn{
	width: 30%;
	height: 100%;
	background-color: transparent;
	float: left;
}
.leftbtn button{
	width: 160px;
	height: 40px;
	-ms-transform: rotate(270deg); /* IE 9 */
  	transform: rotate(270deg);
	position: fixed;
	border-style: none;
	border-radius: 0px 0px 5px 5px;
	top: 300px;
	left: -52px;
	background-color: #E1BD00;
	color: black;
	font-size: 12px;
	font-weight: bold;
}
.leftbtn button:hover{
	cursor: pointer;
	background-color: #FFD600; 
}
/*page 01*/
#overlay01{position: relative;}
.page01{
	width: 100%;
	height: 1,076.78102px;
	background-color: transparent;
}
.banner{
	width: 100%;
	height: 750px;
	background-image: url("../images/Asset 9.png");
	background-size: cover;
	position: relative;
	background-position:0px 750px;
}
.contents{
	width: 100%;
	height: 417.52102px;
	background-color: white;
}
.header{
	width: 100%;
	height: 80.75102px;
}
.tagbox{
	width: 90%;
	height: 421.51466px;
	background-color: #181920;
	position: absolute;
	top: 710px;
	left: 50%;
	transform: translate(-50%);
}
.intro{
	width: 100%;
	height: 309.82602px;
	text-align: center;
	position: absolute;
	top: 200px;
	font-size: 12px;
	color: #CF9A00;
}
.intro font{
	font-size: 40px;
	color: white;
}
.intro button{
	width: 238px;
	height: 40px;
	color: #CF9A00;
	background-color: transparent;
	border-color: #CF9A00;
	border-style: solid;
	font-size: 14px;
	border-width: thin;
}
.intro button:hover{
	background-color: #CF9A00;
	cursor: pointer;
	color: black;
}
.tag01{
	width: 25%;
	height: 100%;
	background-color: #2E313E;
	float: left;
	text-align: center;
	color: #E3E3E3;
}
.tag01 font{
	color: #DBBA33;
	font-size: 18px;
}
.tag01 button{
	width: 160px;
	height: 40px;
	background-color: transparent;
	border-color: #DBBA33;
	border-style: solid;
	font-size: 12px;
	border-width: thin;
	color: #DBBA33;
}
.tag01 button:hover{
	background-color: #DBBA33;
	cursor: pointer;
	color: black;
}
.tag02{
	width: 25%;
	height: 100%;
	background-color: #181920;
	float: left;
	text-align: center;
	color: #E3E3E3;
}
.tag02 font{
	color: #DBBA33;
	font-size: 18px;
}
.tag02 button{
	width: 160px;
	height: 40px;
	background-color: transparent;
	border-color: #DBBA33;
	border-style: solid;
	font-size: 12px;
	border-width: thin;
	color: #DBBA33;
}
.tag02 button:hover{
	background-color: #DBBA33;
	cursor: pointer;
	color: black;
}
.logo{
	width: 22.3%;
	height: 80.75102px;
	float: left;
	padding: 25px 20px;
	box-sizing: border-box;
	font-size: 18px;
	color: #DDDDDD;
}
.logo font{
	color: #CF9A00;
}
.space{
	width: 20.86%;
	height: 80.75102px;
	float: left;
}
.info{
	width: 56.84%;
	height: 80.75102px;
	float: left;
	padding: 23.8px;
	box-sizing: border-box;
	position: relative;
}
.info ul{
	list-style: none;
	position: absolute;
	top: -10px;
	left: 90px;
}
.info ul li{
	font-size: 12px;	
	padding: 21.42px;
	float: left;
	position: relative;
}
.info ul li:hover {
	border-bottom: 4.76px solid #FFB600;
}
.info ul li a{
	text-decoration: none;
	color: white;
}
.info ul li:hover ul{
	visibility: visible;
}
.info ul li ul{
	position: absolute;
	top: 60px;
	left: -36px;
	visibility: hidden;
}
.info ul li ul li{
	padding: 18px;
}

/*page02 about us*/
@font-face
{
	font-family: fontmoi;
	
}
.page02{
	width: 100%;
	height: 497px;
	background-color: transparent;
}
.aboutus{
	width: 50%;
	height: 100%;
	background-color: #F5F6F7;
	position: relative;
	float: left;
}
.autextbox{
	width: 60%;
	height: 80%;
	position: absolute;
	left: 220px;
	top: 60px;
}
.autextbox font{
	font-size: 22px;
	position: relative;
}
.autextbox a{
	text-decoration: none;
	color: #900002;
	font-weight: bold;
}
.welcometo{
	width: 50%;
	height: 100%;
	background-color: black;
	float: right;
	position: relative;
	background-image: url("../images/Asset 13.png");
	background-size: cover;
}
#overlay02{position: relative;}
.welcometo button{
	width: 373.66px;
	height: 373.66px;
	position: absolute;
	left: 50px;
	top: 50%;
  	transform: translateY(-50%);
	background-color: transparent;
	border-color: #CF9A00;
	border-style: solid;
	font-size: 36px;
	font-weight: 100;
	border-width: thin;
	text-align: center;
	color: #CF9A00;
	font-family: Book Antiqua;
}
.wctbtnlogo{
	width: 45px;
	height: 45px;
	position: absolute;
	background-image: url("../images/justice.png");
	left: 0px;
	top: 50px;
	float: left;
}

/*page03*/
.member{
	width: 100%;
	height: 657.90102px;
	background-color: white;
	position: relative;
}
.membertop{
	width: 100%;
	height: 330px;
	background-image: url("../images/Asset 14.png");

	background-position: -300px 400px;
}
.membertopintro{
	width: 100%;
	height: 192.78px;
	background-color: transparent;
	text-align: center;
	color: white;
	font-size: 14px;
}
.membertopintro font{
	color: #CF9A00;
	font-size: 36px;
}
.memberbot{
	width: 100%;
	height: 340px;
	background-color: #DCDCDC;
}
.memberbox{
	width: 75%;
	height: 420px;

	position: absolute;
	top: 200px;
	left: 50%;
	transform: translate(-50%);
	
}
.membertag{
	width: 23.5%;
	height: 100%;
	background-color: #E9E9E9;
	float: left;
	text-align: center;
	color: black;
	margin: 0px 0.25%;
	border-style: groove;
	border-width: thick;
	font-size: 14px;
	font-weight: 500;
	position: relative;
}
.picbox{
	width: 100%;
	height: 36%;
	display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.membertag font{
	color: #CF9A00;
	font-size: 24px;
	font-weight: normal;
}
.membertag button.button1{
	width: 220px;
	height: 30px;
	font-size: 13px;
	color: #CF9A00;
	position: absolute;
	border-style: none;
	top: 340px;
	left: 50%;
	transform: translate(-50%);
	background-color: #2E313E;
}
.membertag button.button1:hover {
	background-color: #464A5E;
	cursor: pointer;
}
.membertag button.button2{
	width: 220px;
	height: 30px;
	font-size: 13px;
	color: #CF9A00;
	position: absolute;
	border-style: none;
	top: 380px;
	left: 50%;
	transform: translate(-50%);
	background-color: #181920;
}.membertag button.button2:hover {
	background-color: #313341;
	cursor: pointer;
}

/*page04*/

.page04{
	width: 100%;
	height: 498.77898px;
	background-color: transparent;
}
.inputinfo{
	width: 50%;
	height: 100%;
	background-color: #F5F6F7;
	position: relative;
	float: right;
}
.inputtextbox{
	width: 100%;
	height: 190px;
	position: absolute;
	left: 45px;
	top: 46%;
  	transform: translateY(-50%);
}
.consultation{
	width: 50%;
	height: 100%;
	background-color: transparent;
	float: left;
	position: relative;
	background-image: url("../images/Asset 1.png");
	background-size: cover;
}

.consultation button{
	width: 373.66px;
	height: 373.66px;
	position: absolute;
	left: 240px;
	top: 50%;
  	transform: translateY(-50%);
	background-color: transparent;
	border-color: #CF9A00;
	border-style: solid;
	font-size: 26px;
	font-weight: 100;
	border-width: thin;
	text-align: left ;
	color: #CF9A00;
	font-family: Book Antiqua;
	padding: 75px;
}
.name{
	width: 200px;
	height: 30px;
	margin: 5px;
	float: left;
}
.email{
	width: 200px;
	height: 30px;
	margin: 5px;
	float: left;
}
.phone{
	width: 418px;
	height: 30px;
	margin: 5px;
	float: left;
}
.message{
	width: 418px;
	height: 80px;
	margin: 5px;
	float: left;
}
.message:focus{
	background-color: lightblue;
}
input[type=text]:focus {
  background-color: lightblue;
}

.inputtextbox button{
	width: 425px;
	height: 40px;
	margin: 5px;
	background-color: #3C3B49;
	border-style: none;
	color: white;
}
.inputtextbox button:hover{
	background-color: #545366;cursor: pointer;
}

/*page05*/

.review{
	width: 100%;
	height: 430px;
	background-color: #18191E;
	text-align: center;
	color: white;
	font-style: italic;
}
.testimonials{
	font-size: 40px;
	color: #CF9A00;
	font-style: normal;
}
.clientname{
	font-size: 14px;
	color: #CF9A00;
	font-weight: bold;
	font-style: normal;
}
.big{
	font-size: 16px;
	font-style: normal;
}
.big a{
	font-size: 14px;
	text-decoration: none;
	color: white;
}
.small:hover{
	cursor: pointer;
}

/*page06*/

.firminfo{
	width: 100%;
	height: 210px;
	background-color: #FFFBE4;
	color: black;
	position: relative;
}
.columnbox{
	width: 80%;
	height: 210px;

	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
.column{
	width: 33.333%;
	height: 210px;

	padding: 50px 100px;
	box-sizing: border-box;
	float: left;
}
.column font{
	font-size: 16px;
}

/*page07*/

.end{
	width: 100%;
	height: 70px;
	background-color: #18191E;
	color: white;
	padding: 30px 20px;
	box-sizing: border-box;
	font-size: 12px;
}